Repository apigee/devrel, changes with the owners that CODEOWNERS names for each.
All owners: @seymen, @danistrebel, @omidtahouri, @markjkelly, @sauliuz, @teodlh, @mat-613, @ssvaidyanathan, @tyayers, @joelgauci, @kurtkanaskie, @micovery, @ganadurai, @tomfi, @yuriylesyuk, @anaik91

CODEOWNERS:

*       @seymen @danistrebel @omidtahouri

/references/auth-schemes                @omidtahouri
/labs/bdd-proxy-development             @markjkelly
/labs/best-practices-hackathon          @sauliuz @seymen
/labs/idp-okta-integration              @teodlh
/labs/eventarc-apihub                   @mat-613
/references/cicd-pipeline               @danistrebel
/references/cicd-sharedflow-pipeline    @ssvaidyanathan
/references/cloud-logging-shared-flow   @danistrebel
/references/cloud-runner                @danistrebel
/references/common-shared-flows         @seymen @danistrebel @omidtahouri
/references/data-api                    @danistrebel
/references/data-converters-shared-flow @tyayers
/references/dutch-healthcare            @seymen
/references/firestore-facade            @joelgauci
/references/gcp-sa-auth-shared-flow     @danistrebel
/references/identity-facade             @joelgauci
/references/java-callout                @omidtahouri
/references/js-callout                  @seymen
/references/oauth-admin-api             @danistrebel
/references/oidc-mock                   @joelgauci
/references/product-recommendations-api @kurtkanaskie
/references/proxy-template              @seymen @danistrebel @omidtahouri
/references/recaptcha-enterprise        @joelgauci
/references/southbound-mtls             @danistrebel
/references/threat-protect              @joelgauci
/references/openapi-mock                @micovery
/tools/apigee-envoy-quickstart          @ganadurai
/tools/apigee-openlegacy                @tomfi @joelgauci
/tools/apigee-sackmesser                @danistrebel
/tools/apigee-x-trial-provision         @yuriylesyuk @danistrebel
/tools/decrypt-hybrid-assets            @yuriylesyuk
/tools/endpoints-oas-importer           @danistrebel
/tools/grpc-http-gateway-generator      @danistrebel @omidtahouri
/tools/hybrid-quickstart                @danistrebel
/tools/oas-apigee-mock                  @markjkelly
/tools/pipeline-linter                  @seymen @danistrebel
/tools/pipeline-runner                  @seymen @danistrebel
/tools/proxy-endpoint-unifier           @anaik91
/tools/sf-dependency-list               @yuriylesyuk
/tools/target-server-validator          @anaik91

fix: deprecate GCR repo
  references/cicd-pipeline/jenkins-build/README.md
  references/cicd-pipeline/jenkins-build/cloudbuild.yml
  references/cicd-pipeline/jenkins-build/jenkins-web/cloudbuild.yml
  references/cicd-pipeline/jenkins-build/jenkinsfile-runner/cloudbuild.yml
  references/cloud-run/pipeline.sh
Owners: @danistrebel, @seymen, @omidtahouri

chore(main): release 1.20.1
  CHANGELOG.md
Owners: @seymen, @danistrebel, @omidtahouri

feat: base pipeline builder off alpine
  tools/pipeline-runner/Dockerfile
Owners: @seymen, @danistrebel

fix: broken link linter fix
  references/openapi-mock/README.md
Owners: @micovery

feat: add curl to Docker image
  tools/pipeline-runner/Dockerfile
Owners: @seymen, @danistrebel

feat: add docker to image
  tools/pipeline-runner/Dockerfile
Owners: @seymen, @danistrebel

feat: allow for selective pipeline
  tools/endpoints-oas-importer/import-endpoints.sh
  tools/pipeline-runner/Dockerfile
  tools/pipeline-runner/cloudbuild.yaml
Owners: @danistrebel, @seymen

chore: make github output prettier
  tools/pipeline-runner/github-api.sh
Owners: @seymen, @danistrebel

fix: proper error handling
  references/common-shared-flows/error-handling-v1/sharedflowbundle/resources/jsc/PopulateDefaultErrorVariables.js
Owners: @seymen, @danistrebel, @omidtahouri

fix: proper error handling
  references/oidc-mock/test/integration/features/step_definitions/ui.js
Owners: @joelgauci

chore: github UX
  .github/PULL_REQUEST_TEMPLATE.md
  tools/pipeline-runner/github-api.sh
Owners: @seymen, @danistrebel, @omidtahouri

chore: github UX
  tools/pipeline-runner/github-api.sh
Owners: @seymen, @danistrebel

fix: add dbus to chromium
  tools/pipeline-runner/Dockerfile
Owners: @seymen, @danistrebel

fix: clean up
  references/oidc-mock/test/integration/features/step_definitions/ui.js
  tools/pipeline-runner/github-api.sh
Owners: @joelgauci, @seymen, @danistrebel

fix: add --no-gpu to fix puppeteer regression in alpine
  references/identity-facade/test/integration/features/step_definitions/ui.js
  references/oidc-mock/test/integration/features/step_definitions/ui.js
Owners: @joelgauci

chore(main): release 1.21.0
  CHANGELOG.md
Owners: @seymen, @danistrebel, @omidtahouri

feat: updated proxyendpoint limit
  tools/proxy-endpoint-unifier/README.md
Owners: @anaik91

feat: added enhancements to endpoint-unifier
  .gitignore
  tools/proxy-endpoint-unifier/README.md
  tools/proxy-endpoint-unifier/input.properties
  tools/proxy-endpoint-unifier/main.py
  tools/proxy-endpoint-unifier/utils.py
Owners: @seymen, @danistrebel, @omidtahouri, @anaik91

fix: fixed flake8 issues
  tools/proxy-endpoint-unifier/main.py
  tools/proxy-endpoint-unifier/utils.py
Owners: @anaik91

feat: Apigee Edge to X migration tools
  README.md
  tools/apigee-edge-to-x-migration/README.md
  tools/apigee-edge-to-x-migration/convert-apps-edge-x.py
  tools/apigee-edge-to-x-migration/convert-developers-edge-x.py
  tools/apigee-edge-to-x-migration/convert-kvms-edge-x.py
  tools/apigee-edge-to-x-migration/convert-products-edge-x.py
  tools/apigee-edge-to-x-migration/convert-targetservers-edge-x.py
  tools/apigee-edge-to-x-migration/create-apps.sh
  tools/apigee-edge-to-x-migration/create-developers.sh
  tools/apigee-edge-to-x-migration/create-env-kvms.sh
  tools/apigee-edge-to-x-migration/create-org-kvms.sh
  tools/apigee-edge-to-x-migration/create-products.sh
  tools/apigee-edge-to-x-migration/create-proxy-kvms.sh
  tools/apigee-edge-to-x-migration/create-targetservers.sh
  tools/apigee-edge-to-x-migration/delete-developers.sh
  tools/apigee-edge-to-x-migration/delete-kvms.sh
  tools/apigee-edge-to-x-migration/delete-target-org-resources.sh
  tools/apigee-edge-to-x-migration/set_env_example.sh
  tools/apigee-edge-to-x-migration/show-target-org.sh
Owners: @seymen, @danistrebel, @omidtahouri
